#

In [1]:
import pandas as pd
url ='https://raw.githubusercontent.com/tidyverse/datascience-box/refs/heads/main/course-materials/lab-instructions/lab-03/data/nobel.csv'
df = pd.read_csv(url)
print(df.head())

   id       firstname    surname  year category  \
0   1  Wilhelm Conrad    Röntgen  1901  Physics
1   2      Hendrik A.    Lorentz  1902  Physics
2   3          Pieter     Zeeman  1902  Physics
3   4           Henri  Becquerel  1903  Physics
4   5          Pierre      Curie  1903  Physics

                                         affiliation       city      country  \
0                                  Munich University     Munich      Germany
1                                  Leiden University     Leiden  Netherlands
2                               Amsterdam University  Amsterdam  Netherlands
3                                École Polytechnique      Paris       France
4  École municipale de physique et de chimie indu...      Paris       France

    born_date   died_date  ... died_country_code overall_motivation share  \
0  1845-03-27  1923-02-10  ...                DE                NaN     1
1  1853-07-18  1928-02-04  ...                NL                NaN     2
2  1865-05-25  1943-10-09  ...                NL                NaN     2
3  1852-12-15  1908-08-25  ...                FR                NaN     2
4  1859-05-15  1906-04-19  ...                FR                NaN     4

                                          motivation  born_country_original  \
0  "in recognition of the extraordinary services ...  Prussia (now Germany)
1  "in recognition of the extraordinary service t...        the Netherlands
2  "in recognition of the extraordinary service t...        the Netherlands
3  "in recognition of the extraordinary services ...                 France
4  "in recognition of the extraordinary services ...                 France

       born_city_original died_country_original died_city_original  \
0  Lennep (now Remscheid)               Germany             Munich
1                  Arnhem       the Netherlands                NaN
2              Zonnemaire       the Netherlands          Amsterdam
3                   Paris                France                NaN
4                   Paris                France              Paris

   city_original country_original
0         Munich          Germany
1         Leiden  the Netherlands
2      Amsterdam  the Netherlands
3          Paris           France
4          Paris           France

[5 rows x 26 columns]

In [2]:
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     935 non-null    int64
 1   firstname              935 non-null    object
 2   surname                906 non-null    object
 3   year                   935 non-null    int64
 4   category               935 non-null    object
 5   affiliation            685 non-null    object
 6   city                   680 non-null    object
 7   country                681 non-null    object
 8   born_date              902 non-null    object
 9   died_date              627 non-null    object
 10  gender                 935 non-null    object
 11  born_city              907 non-null    object
 12  born_country           907 non-null    object
 13  born_country_code      907 non-null    object
 14  died_city              608 non-null    object
 15  died_country           614 non-null    object
 16  died_country_code      614 non-null    object
 17  overall_motivation     17 non-null     object
 18  share                  935 non-null    int64
 19  motivation             935 non-null    object
 20  born_country_original  907 non-null    object
 21  born_city_original     907 non-null    object
 22  died_country_original  614 non-null    object
 23  died_city_original     608 non-null    object
 24  city_original          680 non-null    object
 25  country_original       681 non-null    object
dtypes: int64(3), object(23)
memory usage: 190.1+ KB

In [7]:
df[(df['country'].notna())]

In [8]:
df[(df['died_date'].isna())]