#

In [1]:
import pandas as pd
df = pd.read_csv('seattle_pet_licenses.csv')

In [4]:
df

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66042 entries, 0 to 66041
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   animal_s_name       64685 non-null  object
 1   license_issue_date  66042 non-null  object
 2   license_number      43885 non-null  float64
 3   primary_breed       66042 non-null  object
 4   secondary_breed     22538 non-null  object
 5   species             66042 non-null  object
 6   zip_code            65884 non-null  object
dtypes: float64(1), object(6)
memory usage: 3.5+ MB

In [6]:
df['animal_s_name'].value_counts()

animal_s_name
Lucy          566
Bella         451
Charlie       447
Max           374
Luna          361
             ...
Manasseh        1
Taba            1
Miriam          1
Number Six      1
Rollins         1
Name: count, Length: 15795, dtype: int64